input[type=range].howler-seek-slider, input[type=range].howler-volume-slider {
  color: #111111;
}

input[type=range].howler-volume-slider {
  width: 7rem;
  place-self: center;
}

input[type=range].howler-seek-slider {
  place-self: center;
}

.howler-module-container .howler-current-track {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.howler-module-container input[type=range] {
  height: 0.4rem;
  cursor: pointer;
}

.howler-module-container input[type=range].howler-seek-slider {
  margin: 5px 0 12px 0;
}

.howler-module-settings {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 20px;
}

.howler-module-volume {
  display: flex;
}

.howler-module-duration {
  flex-direction: row;
  display: flex;
  place-content: space-around;
  min-width: 100px;
}

.howler-module {
  border-radius: 2rem;
  background-color: #F1F3F4;
  padding: 1.5rem 1rem;
}

.howler-basic-module {
  border-radius: 3rem;
}

.howler-module .howler-button {
  border: 0;
  border-radius: 50%;
  padding: 0.4rem 0.8rem;
  color: #111111;
}

.howler-module .howler-button:hover {
  border-radius: 50%;
  background-color: #DFDFDF;
}

.howler-module-buttons {
  font-size: 1.1rem;
}

.howler-module .howler-module-buttons .howler-button {
  padding: 0.4rem 0.6rem;
}

.howler-basic-module .howler-module-seek {
  padding-top: 0.6rem;
}

.howler-module .howler-volume-button {
  font-size: 1.4rem;
}

.howler-basic-module .howler-module-volume .howler-volume-slider {
  display: none;
}

.howler-basic-module .howler-module-volume:hover {
  background-color: #DDDDDD;
  border-radius: 1.5rem;
  padding: 0.2rem 0.2rem;
  display: inline-flex;
  z-index: 10;
}

.howler-basic-module .howler-module-volume:hover .howler-button {
  background-color: #DDDDDD;
}

.howler-basic-module .howler-module-volume:hover .howler-volume-slider {
  display: block;
}
